<div id="footer-spacer"></div>
<div id="footer">
	<div>
			<span id="disclaimer"><b>STEAM MATCH MACHINE</b> &copy 2020 - All Rights Reserved<br>Powered by <a href="https://steampowered.com/" target="_blank">STEAM</a>. For more information please view the <a href="index.php?disclaimer">DISCLAIMER</a>, <a href="index.php?privacy">PRIVACY POLICY</a>.<br>Advertising by Network N Ltd, see Disclaimer for more information. <a style="cursor:pointer" onclick="window.__cmp('showConsentModal')">Manage Cookie Settings</a></span>
		<span id="copyright">DESIGNED & CODED BY<br><strong>ALINA</strong> & <strong>ZACH </strong><br>AKA TEAM CHARLIE</span>
	</div>
</div>