    <title>About :: Steam Match Machine</title>
  <body>
    <div id="content-area">
      <div class="content-box">
        <div class="content-box-topbar-large">
            <span class="left"><h1 class="empty">TEAM</h1></span>
        </div>
      </div>
      <div class="content-box content-box-team">
        <div class="content-box-topbar">
            <span class="left"><h2 class="empty">HEAD ADMINS</h2></span>
        </div>
        <div class="content-box-split">
            <a href="https://steamcommunity.com/profiles/76561198038597156/" target="_blank" class="left">
                <span class="team-info"><span class="team-name">Zach</span> | Co-Founder &amp; Lead Developer</span>
                <img class="team-image" width="400&quot;" src="https://steamsignature.com/card/0/76561198038597156.png">
            </a>
            <a href="https://steamcommunity.com/profiles/76561199024769117/" target="_blank" class="right">
                <span class="team-info"><span class="team-name">Alina</span> | Co-Founder &amp; Lead Developer</span>
                <img class="team-image" width="400&quot;" src="https://steamsignature.com/card/0/76561199024769117.png">
            </a>
        </div>
          <div class="content-box content-box-team">
            <div class="content-box-topbar">
                <span class="left"><h2 class="empty">RETIRED TEAM MEMBERS</h2></span>
            </div>
            <div class="content-box-split">
                <a href="" target="_blank" class="left">
                    <span class="team-info"><span class="team-name">Louis</span> | Co-Founder &amp; Initial Developer</span>
                    <img class="team-image" height="100&quot;" width="100&quot;" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/7b/7bd919f71670587e480387566624fee48854c06d_full.jpg">
                    <p style="font-size: large; font: bold;">RIP</p>
                </a>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>